<% provide(:title, 'Search for object') %>

<div class="columns">
    <div class="column is-3">
<aside class="menu">
    <p class="menu-label">Search</p>
    <ul class="menu-list">
        <% Structure.find_each do |s| %>
            <li>
                <%= link_to s.name, '', data: 'structure-form-' + s.id.to_s %>
<!--                <% unless s.building_blocks.empty? %>
                    <ul>
                        <% s.building_blocks.each do |bb| %>
                            <%= render 'building_blocks/search_menu', :bb => bb %>
                        <% end %>
                    </ul>
                <% end %>-->
            </li>
        <% end %>
    </ul>
</aside>
    </div>
    <div class="column">
        <% Structure.find_each do |s| %>
            <%= form_tag('/examples/find', method: 'post', id: 'structure-form-'+s.id.to_s) do %>
                <%= hidden_field_tag 'structure_id', s.id %>
                <div class="content box">
                    <h2 class="title"><%= s.name %></h2>
                    <div class="tile is-ancestor is-vertical">
                    <div class="tile is-parent">
                        <div class="tile is-child notification is-success">
                            <%= label_tag(:satisfies, 'Satisfies:', class: 'label') %>
                            <%= select_tag(:satisfies, options_for_select(s.properties.map { |p| [p.name, p.to_atom.id] }), multiple: true, class: 'multi-select') %>
                        </div>
                        <div class="tile is-child notification is-danger">
                            <%= label_tag(:violates, 'Violates:', class: 'label') %>
                            <%= select_tag(:violates, options_for_select(s.properties.map { |p| [p.name, p.to_atom.id] }), multiple: true, class: 'multi-select') %>
                        </div>
                    </div>
                    <% unless s.building_blocks.empty? %>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <% s.building_blocks.each do |bb| %>
                            <div class="content box">
                                <h3 class="title"><%= bb.name %></h3>
                                <div class="tile is-ancestor">
                                    <div class="tile is-parent">
                                        <div class="tile is-child notification is-success">
                                            <%= label_tag(:satisfies, 'Satisfies:', class: 'label') %>
                                            <%= select_tag(:satisfies, options_for_select(bb.structure.properties.map { |p| [p.name, p.to_atom(bb).id] }), multiple: true, class: 'multi-select') %>
                                        </div>
                                        <div class="tile is-child notification is-danger">
                                            <%= label_tag(:violates, 'Violates:', class: 'label') %>
                                            <%= select_tag(:violates, options_for_select(bb.structure.properties.map { |p| [p.name, p.to_atom(bb).id] }), multiple: true, class: 'multi-select') %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                    </div>
                    <%= submit_tag('Search!', class: 'button') %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
