<div class="tile is-child">
    <div class="content box">
        <h4 class="title"><%= bbr.building_block.name %></h4>
        <p><%= link_to bbr.realization.explanation, examples_show_path(:id => bbr.realization.id) %></p>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <h5 class="title">Hardcoded Truths</h5>
                        <ul>
                            <% bbr.realization.atoms_from_example_truths.each do |atom| %>
                                <%= render 'atoms/show', atom: atom %>
                            <% end %>
                        </ul>
                    </div>
                </article>
                <% unless bbr.realization.falsehoods.empty? %>
                    <article class="tile is-child notification is-danger">
                        <div class="content">
                            <h5 class="title">Hardcoded Falsehoods</h5>
                            <ul id="falsehoods">
                                <% bbr.realization.falsehoods.each do |atom| %>
                                    <%= render 'atoms/show', atom: atom, modifier: 'is not' %>
                                <% end %>
                            </ul>
                        </div>
                    </article>
                <% end %>
            </div>
        </div>
    </div>
</div>

<!--<div class="tile is-parent is-vertical">
    <div class="box">
<article class="tile is-child">
    <div class="content">
        <h4 class="title"><%= bbr.building_block.name %></h4>
        <p><%= link_to bbr.realization.explanation, examples_show_path(:id => bbr.realization.id) %></p>
    </div>
</article>
<article class="tile is-child notification is-success">
    <div class="content">
        <h5 class="title">Hardcoded Truths</h5>
        <ul>
            <% bbr.realization.atoms_from_example_truths.each do |atom| %>
                <%= render 'atoms/show', atom: atom %>
            <% end %>
        </ul>
    </div>
</article>
<% unless bbr.realization.falsehoods.empty? %>
    <article class="tile is-child notification is-danger">
        <div class="content">
            <h5 class="title">Hardcoded Falsehoods</h5>
            <ul id="falsehoods">
                <% bbr.realization.falsehoods.each do |atom| %>
                    <%= render 'atoms/show', atom: atom %>
                <% end %>
            </ul>
        </div>
    </article>
<% end %>
</div>
</div>
-->
