<div class="tile is-child">
  <div class="content box">
    <h4 class="title"><%= bbr.building_block.name %></h4>
    <p><%= link_to bbr.realization.description, example_path(:id => bbr.realization.id) %></p>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-success">
          <div class="content">
            <h5 class="title"><%= I18n.t("building_block_realizations.show.hardcoded_truths", :default => "Hardcoded Truths") %></h5>
            <ul>
              <% bbr.realization.hardcoded_truths.each do |atom| %>
                <%= render 'atoms/show', atom: atom %>
              <% end %>
            </ul>
          </div>
        </article>
        <% unless bbr.realization.hardcoded_falsehoods.empty? %>
          <article class="tile is-child notification is-danger">
            <div class="content">
              <h5 class="title"><%= I18n.t("building_block_realizations.show.hardcoded_falsehoods", :default => "Hardcoded Falsehoods") %></h5>
              <ul id="falsehoods">
                <% bbr.realization.hardcoded_falsehoods.each do |atom| %>
                  <%= render 'atoms/show', atom: atom, modifier: t('logic.is_not') %>
                <% end %>
              </ul>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</div>
