<% provide(:title, I18n.t('example.show.title') + ' ' + @example.description[0..100]) %>
<% cache @example do %>
  <div class="tile is-ancestor">
    <% if @example.building_block_realizations.count == 0 %>
      <% width = 4 %>
    <% elsif @example.building_block_realizations.count == 1 %>
      <% width = 6 %>
    <% else %>
      <% width = 8 %>
    <% end %>
    <div class="tile is-vertical is-parent is-<%= width %>">
      <article class="tile is-child notification is-info">
        <div class="content">
          <h3 class="title"><%= I18n.t("examples.show.description", :default => "Description") %></h3>
          <p><%= @example.description %></p>
        </div>
      </article>
      <article class="tile is-child notification is-success">
        <div class="content">
          <h3 class="title"><%= I18n.t("examples.show.hardcoded_truths", :default => "Hardcoded Truths") %></h3>
          <ul>
            <% @example.hardcoded_flat_truths.each do |atom| %>
              <%= render 'atoms/show', :atom => atom, :modifier => t('logic.is') %>
            <% end %>
          </ul>
        </div>
      </article>
      <% unless @example.hardcoded_flat_falsehoods.empty? %>
        <article class="tile is-child notification is-danger">
          <div class="content">
            <h3 class="title"><%= I18n.t("examples.show.hardcoded_falsehoods", :default => "Hardcoded Falsehoods") %></h3>
            <ul id="falsehoods">
              <% @example.hardcoded_flat_falsehoods.each do |atom| %>
                <%= render 'atoms/show', :atom => atom, :modifier => t('logic.is_not') %>
              <% end %>
            </ul>
          </div>
        </article>
      <% end %>
      <% unless @example.building_block_realizations.empty? %>
        <div class="tile is-child">
          <div class="content box">
            <h3 class="title"><%= I18n.t("examples.show.building_blocks", :default => "Building Blocks") %></h3>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <% @example.building_block_realizations.each do |bbr| %>
                  <%= render 'building_block_realizations/show', bbr: bbr %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tile is-parent is-vertical">
      <% unless (@example.satisfied_atoms_with_implications.first - @example.hardcoded_truths).empty? %>
        <article class="tile is-child notification is-success">
          <div class="content">
            <h3 class="title"><%= I18n.t("examples.show.derived_truths", :default => "Derived truths") %></h3>
            <% @example.satisfied_atoms_with_implications.second.each_pair do |implication, atom| %>
              <% unless @example.hardcoded_truths.include?(atom) %>
                <%= render 'atoms/show', atom: atom, modifier: t('logic.is'), implication: implication %>
              <% end %>
            <% end %>
          </div>
        </article>
      <% end %>
      <% unless (@example.computable_violations_with_implications.first - @example.hardcoded_falsehoods).empty? %>
        <article class="tile is-child notification is-danger">
          <div class="content">
            <h3 class="title"><%= I18n.t("examples.show.derived_falsehoods") %></h3>
            <%  @example.computable_violations_with_implications.second.each_pair do |atom, implication| %>
              <% unless @example.hardcoded_falsehoods.include?(atom) %>
                <%= render 'atoms/show', atom: atom, modifier: t('logic.is_not'), implication: implication, success: 'danger' %>
              <% end %>
            <% end %>
          </div>
        </article>
      <% end %>
    </div>
  </div>
<% end %>
