<% provide(:title, 'Example: ' + @example.explanation[0..50]) %>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-parent is-8">
        <article class="tile is-child notification is-info">
            <div class="content">
            <h3 class="title">Explanation</h3>
            <p><%= @example.explanation %></p>
            </div>
        </article>
        <article class="tile is-child notification is-success">
            <div class="content">
            <h3 class="title">Hardcoded Truths</h3>
            <ul>
                <% @example.atoms_from_example_truths.each do |atom| %>
                    <%= render 'atoms/show', atom: atom %>
                <% end %>
            </ul>
            </div>
        </article>
        <% unless @example.falsehoods.empty? %>
        <article class="tile is-child notification is-danger">
            <div class="content">
            <h3 class="title">Hardcoded Falsehoods</h3>
            <ul id="falsehoods">
                <% @example.falsehoods.each do |atom| %>
                    <%= render 'atoms/show', atom: atom %>
                <% end %>
            </ul>
            </div>
        </article>
        <% end %>
        <% unless @example.building_block_realizations.empty? %>
            <div class="tile">
                <div class="content box">
                    <h3 class="title">Building Blocks</h3>
                    <div class="tile">
                        <% @example.building_block_realizations.each do |bbr| %>
                            <%= render 'building_block_realizations/show', bbr: bbr %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="tile is-parent">
    <article class="tile is-child notification is-success">
        <div class="content">
        <h3 class="title">Derived truths</h3>
        <ul>
            <% (@example.all_that_is_true - @example.atoms_from_example_truths).each do |atom| %>
                <%= render 'atoms/show', atom: atom %>
            <% end %>
        </ul>
        </div>
    </article>
    </div>
</div>
    
