<!DOCTYPE html>
<html>
  <head>
    <title>ErDBeere</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-left">
        <h1><%= link_to "ErDBeere", :root, class: "nav-item" %></h1>
      </div>
      <div class="nav-center"><%= link_to I18n.t("layouts.application.search", :default => 'Search'), main_search_path, class: 'nav-item' %></div>
    </nav>
    <% if flash.any? %>
      <% if not flash[:error].blank? %>
        <%= render("main/hero", class_modifier: "is-danger", subtitle: I18n.t("layouts.application.error"), title: flash[:error])%>
      <% elsif not flash[:warning].blank? %>
        <%= render("main/hero", class_modifier: "is-warning", subtitle: I18n.t("layouts.application.warning"), title: flash[:warning])%>
      <% else %>
        <%= render("main/hero", class_modifier: "is-notice", subtitle: I18n.t("layouts.application.notice"), title: flash.join("\n"))%>
      <% end %>
    <% else %>
      <% unless yield(:title).empty? %>
        <%= render("main/hero", class_modifier: "is-primary", title: yield(:title))%>
      <% end %>
    <% end %>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>ErDBeere</strong> <%= I18n.t("footer.is_on") %> <a href="https://github.com/oqpvc/erdbeere">GitHub</a>!
          </p>
          <p><small>Powered by <a href="http://rubyonrails.org">Rails</a>, <a href="http://bulma.io">Bulma</a>, <a href="http://mathjax.org">MathJax</a> and <a href="http://spacemacs.org">Spacemacs</a>.</small></p>
        </div>
      </div>
    </footer>
  </body>
</html>
